<div class="center">
    <h1>Login</h1>

    <form [formGroup]="loginForm">

        <mat-form-field appearance="fill">
            <mat-label>User Name</mat-label>
            <input matInput type="text" formControlName="username">
        </mat-form-field>
        <small>
            {{getUsernameError()}}
        </small>
        <br>

        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
        <small>
            {{getPasswordError()}}
        </small>
        <br>
        <button mat-raised-button color="primary" (click)="login()">Login</button>
    </form>
    <br>
    <mat-divider></mat-divider>
    <br>
    <p>New User?</p><a href="/register" color="accent"> Click to Register </a>
</div>
