.center{
    width: 60vw;
    /* background-color: aqua; */
    margin: auto;
    margin-top: 10vh;
    /* display: flex; */
    /* align-items: center; */
    text-align: center;
    border: 1px;
    padding: 1vw;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}